/*
  CSS RESET
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  /* max-width: 100%; */
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/*
  COLORS
*/

:root {
  --cyan: hsl(180, 66%, 49%);
  --violet-600: hsl(257, 27%, 26%);
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --blue-800: hsl(255, 11%, 22%);
  --violet-800: hsl(260, 8%, 14%);
  --light-grey: hsl(231, 28%, 95%);
  --border-radius-low: 10px;
}

/*
  TYPOGRAPHY
*/

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  font-size: 700;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: var(--grayish-violet);
}

/*
  GLOBAL STYLES
*/

body {
  overflow-x: hidden;
}

.layout {
  max-width: 1300px;
  margin-inline: auto;
  /* padding-block: 50px; */
  padding-inline: 30px;
}

.grayBg {
  background-color: var(--light-grey);
}

.purpleBg {
  background-color: var(--violet-600);
  color: white;
}

.darkBg {
  background-color: var(--violet-800);
  color: white;
}

/*
  INPUT SECTION
*/

.inputSection {
  margin-top: 80px;
}

.inputContainer {
  transform: translateY(-50%);
}
