.inputContainer {
  background-color: var(--violet-600);
  border-radius: var(--border-radius-low);
  margin-bottom: -45px;
}

.inputContainer form {
  display: flex;
  gap: 30px;
  padding: 40px;
}

.inputContainer input {
  border-radius: var(--border-radius-low);
  border: transparent;
  height: 50px;
  width: 100%;
  text-indent: 25px;
}

.inputContainer button {
  border-radius: var(--border-radius-low);
  width: 180px;
}

@media screen and (max-width: 900px) {
  .inputContainer form {
    flex-direction: column;
    padding: 25px;
  }
  .inputContainer button {
    font-weight: 605;
    padding: 15px;
    width: 100%;
  }
}
