.header {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 50px;
  color: var(--grayish-violet);
}

.navAndBtns {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navAndBtns ul {
  display: flex;
  gap: 40px;
  padding-left: 0;
}

.navAndBtns li {
  list-style-type: none;
}

.buttons {
  display: flex;
  gap: 15px;
}

.buttons button {
  cursor: pointer;
  color: var(--grayish-violet);
  padding-block: 10px;
}
