.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  color: var(--grayish-violet);
  padding-block: 50px;
}

.navAndBtns {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

.navAndBtns ul {
  display: flex;
  gap: 40px;
  padding-left: 0;
}

.navAndBtns li {
  list-style-type: none;
}

.navAndBtns a {
  transition: color 0.5s;
}

.navAndBtns a:hover {
  color: var(--blue-800);
}

.buttons {
  display: flex;
  gap: 15px;
}

.hamburgerButton {
  cursor: pointer;
  border: transparent;
  background-color: transparent;
}

.hamburgerButton img {
  transition: all 0.2s;
}

.hamburgerButton img:hover,
.hamburgerButton img:focus {
  filter: contrast(0.5);
}

.navAndBtns.slidedIn {
  transform: translateX(0);
}

@media screen and (min-width: 900px) {
  .hamburgerButton {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .hamburgerButton {
    display: block;
  }

  .header {
    position: relative;
  }

  .navAndBtns {
    background-color: #3a3053;
    text-align: center;
    position: absolute;
    border-radius: var(--border-radius-low);
    flex-direction: column;
    top: 110px;
    padding: 30px;
    z-index: 1;
    transform: translateX(120%);
  }
  .navAndBtns ul {
    width: 100%;
    gap: 20px;
    color: white;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--gray);
  }
  .navAndBtns a:hover {
    color: inherit;
  }
  .buttons {
    padding-top: 15px;
    gap: 10px;
  }
  .navAndBtns .buttons button {
    color: white;
    width: 100%;
  }
  .navAndBtns ul,
  .buttons {
    flex-direction: column;
  }
}
