.statisticsSection {
  padding-top: 100px;
  padding-bottom: 100px;
}

.statisticsSection h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.statisticsDescription {
  font-size: 1.1rem;
  max-width: 50%;
  margin-inline: auto;
}

.statisticsSection h2,
.statisticsDescription {
  text-align: center;
}

.statisticsCards {
  position: relative;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.statisticsCards > div {
  position: relative;
  z-index: 2;
  height: 280px;
}

.statisticsCards div:nth-of-type(2) {
  margin-top: 40px;
}

.statisticsCards div:nth-of-type(3) {
  margin-top: 80px;
}

.statisticsCards::after {
  content: "";
  position: absolute;
  z-index: 1;
  background-color: var(--cyan);
  bottom: 50%;
  width: 100%;
  height: 5px;
}

@media screen and (max-width: 950px) {
  .statisticsDescription {
    max-width: 90%;
  }
  .statisticsCards {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .statisticsCards h3 {
    font-size: 1.4rem;
  }
  .statisticsCards > div {
    height: auto;
  }
  .statisticsCards::after {
    content: "";
    position: absolute;
    z-index: 1;
    background-color: var(--cyan);
    height: 100%;
    width: 5px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
